---
import type { trackProps } from "./../../types";

interface Props {
  track: trackProps;
  hasTransition?: boolean;
}

const { track, hasTransition } = Astro.props;
---

<li
  class="flex-[0_0_9rem] w-96 rounded-lg color-[rgba(var(--content),1)] duration-150 gap-2"
  transition:name=`${track.id}-to-background`
>
  <a
    class="flex flex-col rounded-lg color-[rgba(var(--content),1)] duration-150 gap-2"
    href={`/track/${track.id}`}
  >
    <img
      src={track.image}
      alt={track.name}
      class="object-fill aspect-square w-full rounded-md"
      transition:name=`${track.id}-to-page`
    />
    <h2
      style={{ overflowWrap: "anywhere" }}
      class="font-normal text-[18px] m-0 leading-5"
      transition:name=`${track.id}-to-title`
    >
      {track.name}
    </h2>
    <span
      class="text-xs font-medium opacity-70"
      transition:name=`${track.id}-to-artist`
    >
      {track.artist?.name}
    </span>
  </a>
</li>

<style>
  @media (hover: hover) {
    li:hover {
      background-color: rgba(var(--bg-contrast), 0.4);
    }
  }
</style>
