---
import { Image } from "astro:assets";
import type { trackProps } from "./../../types";
export const prerender = false;

interface Props {
  track: trackProps;
  size: "sm" | "lg";
  isGrid?: boolean;
  isColumn?: boolean;
}

const { track, size, isGrid = false, isColumn = false } = Astro.props;
---

<li
  class="w-96 color-[rgba(var(--content),1)] duration-150 gap-2 active:scale-[.98] active:opacity-80 relative"
  class:list={size === "sm"
    ? "flex-[0_0_7rem]"
    : isGrid
      ? "h-12 w-full bg-[rgb(255,255,255,0.1)] rounded-[4px]"
      : isColumn
        ? "w-full active:scale-[.98] rounded-lg"
        : "flex-[0_0_10rem] rounded-lg"}
>
  <a
    id={track.id}
    class="flex color-[rgba(var(--content),1)] duration-150 gap-2 track"
    class:list={isGrid
      ? "items-center overflow-x-hidden grid-title"
      : isColumn
        ? "flex gap-2 w-full h-full p-2 items-center rounded-lg"
        : "flex-col rounded-lg"}
    href={`/track/${track.id}`}
  >
    <Image
      src={track.image}
      alt={track.name}
      width={10}
      height={10}
      class="object-fill aspect-square"
      class:list={isGrid
        ? "w-12 h-12 rounded-[4px]"
        : isColumn
          ? "object-fill aspect-square w-12 rounded-sm"
          : "w-full  rounded-md"}
      loading="lazy"
      quality={"low"}
    />
    <span
      class:list={isColumn
        ? "flex flex-col items-start overflow-hidden text-start w-full"
        : ""}
    >
      <h2
        style={{ overflowWrap: "anywhere" }}
        class="m-0 leading-5"
        class:list={isGrid
          ? "font-semibold text-sm overflow-hidden text-ellipsis mr-1"
          : isColumn
            ? "font-normal text-xl m-0 leading-7 overflow-hidden text-ellipsis w-full text-nowrap"
            : "font-normal text-[18px]"}
      >
        {track.name}
      </h2>
      {
        !isGrid && (
          <span class="text-xs font-medium opacity-70">
            Single • {track.artist?.name}
          </span>
        )
      }
    </span>
  </a>

  <style>
    .grid-title {
      width: 100%;
      overflow: hidden;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    @media (hover: hover) {
      li:hover {
        background-color: rgba(var(--bg-contrast), 0.4);
      }
    }
  </style>
  <script>
    const touchElements = document.querySelector("content-bg");
    touchElements?.addEventListener("click", function (this: Element, e: any) {
      let x = e.offsetX;
      let y = e.offsetY;
      let ripples = document.createElement("span");
      ripples.classList.add("ripple");
      ripples.style.left = x + "px";
      ripples.style.top = y + "px";
      this.appendChild(ripples);

      setTimeout(() => ripples.remove(), 500);
    });
  </script>
</li>
