---
import type { trackProps } from "../../types";
import Track from "../cards/Track.astro";
import { ColumnCard } from "../cards/ColumnCard";
export const prerender = false;
interface Props {
  tracks: trackProps[];
  title?: string;
  hasTransition?: boolean;
  type: "row" | "column";
  styles?: string;
  isPlaylist?: boolean;
}
const {
  tracks,
  title,
  hasTransition = false,
  type,
  styles = "",
  isPlaylist = false,
} = Astro.props;

const sectionStyles = `flex flex-col gap-2 z-20 ${styles}`;
---

{
  type === "row" && (
    <section class={sectionStyles}>
      {title && <h2 class="text-xl font-semibold">{title}</h2>}
      <ul class={"flex overflow-x-auto overflow-y-hidden gap-4 p-2"}>
        {tracks?.map((track: trackProps) => (
          <Track track={track} hasTransition={hasTransition} />
        ))}
      </ul>
    </section>
  )
}

{
  type === "column" && (
    <section class={sectionStyles}>
      {title && <h2 class="text-xl font-bold">{title}</h2>}
      <ul
        style={{ padding: isPlaylist ? "0" : "0.5rem" }}
        class={"flex flex-col overflow-y-auto overflow-x-hidden gap-4"}
      >
        {tracks?.map((track: trackProps) => (
          <ColumnCard track={track} tracks={tracks} isPlaylist client:load />
        ))}
      </ul>
    </section>
  )
}
