---
import Layout from "@layouts/Layout.astro";
import { GoBack } from "@components/ui/GoBack";
import { BackgroundColor } from "@components/ui/BackgroundColor";
import { getArtistById } from "../../queryFn";
import Tracks from "@components/lists/Tracks.astro";
import Albums from "@components/lists/Albums.astro";
import type { HttpStatusCode } from "src/types/httpStatusCode";
import NewRelease from "@components/cards/NewRelease.astro";
import { parseNumberListeners } from "src/shared/helpers";
import About from "@components/cards/About.astro";
import Artists from "@components/lists/Artists.astro";
import RelacionatedTracks from "@components/ui/RelacionatedTracks.astro";
import SkeletonList from "@components/skeleton/SkeletonList.astro";
import SkeletonRelacionatedTracks from "@components/skeleton/SkeletonRelacionatedTracks.astro";
import { Image } from "astro:assets";
import HeaderArtist from "@components/HeaderArtist.astro";
import SkeletonHeaderArtist from "@components/skeleton/SkeletonHeaderArtist.astro";
import AlbumsArtist from "@components/AlbumsArtist.astro";

const { id } = Astro.params;

if (!id) return Astro.redirect("/400", HttpStatusCode.BAD_REQUEST);

const { data, errors } = await getArtistById(id);

if (!data) return Astro.redirect("/404", HttpStatusCode.NOT_FOUND);

if (errors.length > 0)
  return Astro.redirect("/500", HttpStatusCode.INTERNAL_SERVER_ERROR);

const { artist } = data;
---

<Layout title={`${artist.name} - MatSound`}>
  <main class="w-screen relative p-4 pb-40 z-10 overflow-x-hidden">
    <BackgroundColor image={artist.avatar} client:load />
    <div
      class="z-40 absolute bg-black/50 rounded-full h-10 w-10 flex pl-1 items-center content-center"
    >
      <GoBack client:load />
    </div>
    <section class="absolute left-0 top-0 w-full h-72 z-0">
      <div
        class="from-[rgba(0,0,0,0.5)] to-transparent absolute bg-gradient-to-t z-10 w-full h-72"
      >
      </div>
      <picture class="w-full h-72 absolute z-0">
        <Image
          src={artist.avatar}
          alt={artist.name}
          height={72}
          width={72}
          class="w-full h-full object-cover"
          transition:name={artist.id + "-to-page"}
          id="image"
        />
      </picture>
      <h1
        class="absolute font-extrabold text-5xl mt-3 text-ellipsis overflow-hidden h-[3rem] z-20 bottom-2 left-4"
      >
        {artist.name}
      </h1>
    </section>
    <section class="relative pt-72 w-full flex flex-col z-10">
      <span class="text-xs opacity-70 pb-2"
        >{parseNumberListeners(artist.listeners)} oyentes mensuales</span
      >
    </section>
    <HeaderArtist id={artist.id} server:defer>
      <SkeletonHeaderArtist slot="fallback" />
    </HeaderArtist>
    <RelacionatedTracks
      tracksBy="artist"
      id={artist.id}
      styles="pt-8"
      artist={artist.name}
      server:defer
    >
      <div class="pt-8" slot="fallback">
        <SkeletonRelacionatedTracks />
      </div>
    </RelacionatedTracks>
    <NewRelease
      artist={{ name: artist.name, image: artist.avatar, id: artist.id }}
      server:defer
    />
    <section class="flex flex-col gap-2 relative z-10 pt-8">
      <h2 class="text-lg font-extrabold">Canciones de {artist.name}</h2>
      <Tracks type="column" maxTracks={4} artistId={artist.id} server:defer>
        <SkeletonList slot="fallback" isColumn />
      </Tracks>
    </section>
    <AlbumsArtist artistId={artist.id} artistName={artist.name} />
    <section class="flex flex-col gap-2 relative z-10 pt-8">
      <h2 class="text-lg font-extrabold">Canciones recomendadas</h2>
      <Tracks artistId={artist.id} type="row" isRecomendation server:defer>
        <SkeletonList slot="fallback" />
      </Tracks>
    </section>
    <About artist={artist} />
    <section class="flex flex-col gap-2 relative z-10 pt-8">
      <h2 class="text-lg font-extrabold">Artistas similares</h2>
      <Artists artistId={artist.id} isRecomendation server:defer>
        <SkeletonList slot="fallback" />
      </Artists>
    </section>
  </main>
</Layout>
