---
import type {
  TrackPropsEndpoint,
  AlbumProps,
  ArtistProps,
  TrackProps,
  ArtistPropsEndpoint,
  ArtistTracks,
  Album as AlbumPropsEndpoint,
} from "../shared/types.ts";
import { isTrack, isAlbum, isArtist } from "../mock";
import Track from "./Track.astro";
import Album from "./Album.astro";
import Artist from "./Artist.astro";
import { PlaylistTrack } from "./PlaylistTrack.tsx";
interface Props {
  tracks?: TrackPropsEndpoint[] | null;
  albums?: AlbumPropsEndpoint[];
  artists?: ArtistPropsEndpoint[];
  artistTracks?: ArtistTracks[] | null;
  type: "Tracks" | "Albums" | "Artists" | "Artist Tracks";
  title: string;
  transition?: "to-page";
}
const { tracks, albums, artistTracks, artists, type, title, transition } =
  Astro.props;

/* if (isTrack(data)) dataList = data as TrackPropsEndpoint;
if (isAlbum(data)) dataList = data as AlbumProps;
if (isArtist(data)) dataList = data as ArtistProps; */
---

{
  type === "Tracks" && (
    <div class="flex flex-col gap-2 z-20">
      <h2 class="text-2xl font-semibold">{title}</h2>
      <ul class={"flex overflow-x-auto overflow-y-hidden gap-4 p-2"}>
        {tracks?.map((track: TrackPropsEndpoint) => (
          <Track track={track} transition={transition} />
        ))}
      </ul>
    </div>
  )
}{
  type === "Albums" && (
    <div class="flex flex-col gap-2 z-20">
      <h2 class="text-2xl font-semibold">{title}</h2>
      <ul class="flex overflow-x-auto overflow-y-hidden gap-4 p-2">
        {albums?.map((album: AlbumPropsEndpoint) => (
          <Album
            name={album.name}
            artist={album.artist || ""}
            image={album.image}
            id={album.id}
            transition={transition}
          />
        ))}
      </ul>
    </div>
  )
}
{
  type === "Artists" && (
    <div class="flex flex-col gap-2 z-20">
      <h2 class="text-2xl font-semibold">{title}</h2>
      <ul class="flex overflow-x-auto overflow-y-hidden gap-4 p-2">
        {artists?.map((artist: ArtistPropsEndpoint) => (
          <Artist
            name={artist.name}
            image={artist.image}
            id={artist.id}
            transition={transition}
          />
        ))}
      </ul>
    </div>
  )
}
{
  type === "Artist Tracks" && (
    <div class="flex flex-col gap-2 z-20">
      <h2 class="text-2xl font-semibold">{title}</h2>
      <ul class={"flex flex-col overflow-y-auto overflow-x-hidden gap-4 p-2"}>
        {artistTracks?.map((track: ArtistTracks) => (
          <PlaylistTrack track={track} playlist={artistTracks} client:load />
        ))}
      </ul>
    </div>
  )
}
