---
import type { TrackPropsEndpoint } from "../shared/types";

interface Props {
  track: TrackPropsEndpoint;
  transition?: "to-page";
}
const { track, transition } = Astro.props;
---

<li
  class="flex-[0_0_10rem] w-96 rounded-lg color-[rgba(var(--content),1)] duration-150 gap-2"
  transition:name={track.id + "-to-background"}
>
  <a
    class="flex flex-col rounded-lg color-[rgba(var(--content),1)] duration-150 gap-2"
    href={`/track/${track.id}`}
  >
    <img
      src={track.image}
      alt={track.name}
      class="object-fill aspect-square w-full rounded-md"
      transition:name={`${track.id}${transition ? "-" + transition : ""}`}
    />
    <h2
      class="font-normal text-xl m-0 leading-5"
      transition:name={track.id + "-to-title"}
    >
      {track.name}
    </h2>
    <span
      class="text-sm font-medium opacity-70"
      transition:name={track.id + "-to-artist"}
    >
      {track.artist?.name}
    </span>
  </a>
</li>

<style>
  @media (hover: hover) {
    li:hover {
      background-color: rgba(var(--bg-contrast), 0.4);
    }
  }
</style>
