---
import { getTracksByArtistId } from "src/queryFn";
import { sortArray } from "src/shared/helpers";
import { HttpStatusCode } from "src/types/httpStatusCode";

interface Props {
  tracksBy?: "artist" | "album";
  id: string;
  styles: string;
  except?: boolean;
  artist?: string;
  album?: string;
}
const {
  tracksBy,
  id,
  styles = "",
  except = false,
  artist,
  album,
} = Astro.props;

const sectionStyles = `text-white/60 ${styles}`;

const { data, errors: err } = await getTracksByArtistId(id || "");

if (!data) return redirect("/404", HttpStatusCode.NOT_FOUND);
if (err.length > 0)
  return redirect("/500", HttpStatusCode.INTERNAL_SERVER_ERROR);

const { tracks } = data;

const filteredTracks = except
  ? tracks.filter((newTrack) => {
      return id !== newTrack.id;
    })
  : tracks;

const nameList = sortArray(
  filteredTracks.map((newTrack) => newTrack.name)
)?.slice(0, 6);
---

<section class={sectionStyles}>
  {
    nameList &&
      nameList.map((name) => (
        <span>
          {artist && <span class="text-white">{artist} &nbsp;</span>}
          {album && <span class="text-white">{album} &nbsp;</span>}
          {name}
          &nbsp; • &nbsp;
        </span>
      ))
  }
  y más
</section>
